<div class="topnav">
  <h5 style="font-size: 45px;margin-top: 14px;">Drivers</h5>
    
  </div>
  
  <div align="center" style="margin-top: 20px;">
  <p>Driver info</p>
  </div>
  
  <hr class="line">
  <div class="container" style="margin-left: 300px;font-size:19px;font-family: Arial, Helvetica, sans-serif;">
  <form class="example-form" [formGroup]="service.form">
    <!--<mat-form-field class="example-full-width" appearance="fill">
      <mat-label></mat-label>
      <input matInput disabled value="">
    </mat-form-field>-->
  
    <table class="example-full-width" cellspacing="0">
      <tr>
      <td>
          <mat-form-field>
              <input formControlName="fname" matInput placeholder="First Name">
              <mat-error>This is a Mandatory Field.</mat-error>
          </mat-form-field>
          <!--<mat-form-field formControlName="fname" class="example-full-width" appearance="fill">
        <mat-label id="fname">First name</mat-label>
        <mat-error>This is a Mandatory Field.</mat-error>
        <input matInput>
      </mat-form-field>-->
  </td>
      <td>
          <mat-form-field>
              <input formControlName="lname" matInput placeholder="Last Name">
              <mat-error>This is a Mandatory Field.</mat-error>
          </mat-form-field>  
  </td>
    </tr>
  </table>
  <br>
  <br>
    <table class="example-full-width" cellspacing="0">
      <tr>
      <td>
          <mat-form-field>
              <input formControlName="city" matInput placeholder="City">
              <mat-error>This is a Mandatory Field.</mat-error>
          </mat-form-field>
  </td>
      
      <td>
          <mat-form-field>
              <input formControlName="state" matInput placeholder="State">
              <mat-error>This is a Mandatory Field.</mat-error>
          </mat-form-field>
  </td>
      
      <td>
          <mat-form-field>
              <input formControlName="pin" matInput placeholder="PIN">
              <mat-error>PIN Should be 5 digit</mat-error>
          </mat-form-field>
  </td>
    </tr>
    
  </table>
  <br>
  <br>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
          <mat-form-field>
              <input formControlName="license" matInput placeholder="Driving License Number">
              <mat-error>License should be 10 chracters</mat-error>
          </mat-form-field> 
     </td>  
     &nbsp;&nbsp;&nbsp;&nbsp;
     <td>
      <mat-form-field>
          <input formControlName="mobile" matInput placeholder="Conact Number">
          <mat-error>10 Digits only</mat-error>
      </mat-form-field>
    </td>
     
    </tr>
  </table>
  
  <div class="container">
    
          <!--<input type="date" class="form-control" id="BirthDate" name="BirthDate"  style="border-top-style: hidden;
          border-right-style: hidden;
          border-left-style: hidden;
          border-bottom-style: groove;
          
          width: 200px;height:50px;">-->
          
          
  </div>
  
  <br>
  <table class="example-full-width" cellspacing="0">
    <tr>
    <td>
        
  </td>
    </tr>
  </table>
  <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
            <mat-form-field>
                <input formControlName="email" matInput placeholder="Email">
                <mat-error>Enter Valid Email Address</mat-error>
            </mat-form-field> 
       </td>  
       &nbsp;&nbsp;&nbsp;&nbsp;
       <td>
        <!-- <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
        
        
      </td>
       
      </tr>
    </table>
    
  </form>
  <button mat-raised-button color="primary" >Save and Next</button>
