<div class="search-div">
    <font face="arial">Add up to 4 vehicles</font><br><br>
    Add up to 4 private passenger vehicles you'd like to quote. 
    If you need to quote more than 4 vehicles, please work with an agent. 
    All fields are required unless otherwise noted as optional<br><br>
    <button mat-raised-button color="accent" (click)="onCreate()"><mat-icon>add</mat-icon>Add Vehicle</button>
</div>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort class="table-color"> 
        <ng-container matColumnDef="year">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Year</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.year}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="make">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Make</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.make}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="model">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Model</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.model}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="bodyStyle">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Body Style</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.bodyStyle}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
                <button mat-icon-button color="warn" (click)="onDelete(row.$key)"><mat-icon>delete_outline</mat-icon></button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef col-span="6">Loading data...</mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef col-span="6">Click on Add Vehicle to add your vehicle details</mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
    </mat-table>
</div>

<mat-toolbar>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="warn" type="submit" routerLink="vehiclesPage" (click)="prev()">Previous</button>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="primary" [disabled]="isDisable" routerLink="driverPage" (click)="save()">Save and Continue</button>
    <span class="fill-remaining-space"></span>
</mat-toolbar>
<router-outlet></router-outlet>
