<div class="vehiclecontainer">
  <mat-toolbar class="tool-color">
      <span class="fill-remaining-space"></span>
      <span>AUTO QUOTE: STEP 2 OF 8</span>
      <span class="fill-remaining-space"></span>
      <span>VEHICLES</span>
      <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <app-vehicles-list></app-vehicles-list>
</div>
