/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

div.vehiclecontainer{
    margin: 0px 40px;
    background: #eddbf5;
}

.table-color{
    background: #eddbf5;
}

.fill-remaining-space{
    /*This fills the remaining space by using the flexbox.
        every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.form-color{
    background: rgb(208, 245, 239);
}

form.normal-form{
    margin-top: 5px;
    align-content: center;
}

.tool-color{
    color: #08152c;
    background: rgb(252, 133, 242);
}

.controles-container{
    align-content: center;
    width: 100%;
    padding: 5%;
    height: 100%;
}

.controles-container > *{
    width: 50%;
}

.add-bottom-padding{
    padding-bottom: 10px;
}

mat-radio-group mat-radio-button{
    margin-left: 5px;
}

.button-row button{
    margin: 5px;
    margin-bottom: 5px;
}

/*Notification*/
snack-bar-container.success {
    background-color: #087e08;
    color: #fff;
}

snack-bar-container.warn {
    background-color: #da240c;
    color: #fff;
}

snack-bar-container.notification simple-snack-bar{
    font-size: 15px !important;
    font-weight: normal;
}

.hide{
    display: none;
}

/* mat-table */
mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}

/* filter controls */
.search-div{
    margin: 10px;
    color: rgb(1, 0, 5);
}

/*for dialog popup*/
.btn-dialog-close{
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
}

/*customised dialog*/
.confirm-dialog-container .mat-dialog-container{
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}

.confirm-dialog-container .content-container{
    margin: 5px 5px 15px 5px;
    color: #8f9cb5;
    display: flex;
}

.confirm-dialog-container #close-icon{
    margin-left: auto;
    order: 2;
    font-weight: bolder;
}

.confirm-dialog-container #close-icon:hover{
    cursor: pointer;
}

.confirm-dialog-container #no-button{
    height: 50px;
    width: 50%;
    background-color: #fa5f5f;
    color: white;
    border-radius: 0px;
}

.confirm-dialog-container #yes-button{
    height: 50px;
    width: 50%;
    background-color: #71f88e;
    color: white;
    border-radius: 0px;
}

.confirm-dialog-container span.content-span{
    padding: 35px 16px;
    text-align: center;
    font-size: 20px;
}

/*Drivers Page CSS*/
.topnav {
    overflow: hidden;
    background-color:rgb(143, 36, 165);
    height: 55px;
  }
  
h1{
    color: rgb(240, 231, 231);
    margin-left: 300px;
    margin-top:100px;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
}
h5{
    color: white;
    font-size: 100px;
    margin-top: 15px;
    margin-left: 10px;
}
p{
    font-size: 30px;
    margin-left: 300px;
    margin-top: 50px;
    color:tomato;
    font-family: Arial, Helvetica, sans-serif;
}
hr.line{ border: 2px solid black;margin-top: 30px;margin-left:300px;margin-right: 30px;}
input.no-outline{
    border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
        
        size: 0px;        
}
.no-outline:focus {
    outline: none;
  }
  
 /* input:hover{
      background-color:;
      border: 1px solid grey;
  }*/
  /*section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }*/
  
  .example-form {
    /*min-width: 150px;
    max-width: 500px;*/
    width:50px;
  }

  .example-full-width {
    width: 100%;
    font-size: 18px;
  }
  
  td {
    padding-right: 8px;
  }
  
  .dob{
    color: #000;
    font-size: 20px;
    text-align: left;
  }
  /* .dateofbirth{
    
  } */
  /*button */
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
